body{
    background-color: #def3f2;
}
h2{
    color: #ff7f50;
    font-size: 50px;
}

p{
    color: #556b2f;
    font-size: 20px;
}


table, th, td{
  border:1px solid black;
  width: 100%;
}

.header{
    background-color: #151d07;
    border: #556b2f;
    color: #ff7f50;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-flexbox;
    font-size: 90%;
    margin: 10px;
    cursor: pointer;
    height: 50px;
}

.all-center{
    text-align: center;
    background-color: #556b2f;
    width: 100%;
    height: 10%;
}